<!-- <div>{{ this.article() | json }}</div> -->

<!-- ARTICLE HERO -->
<div class="article-hero">
  <div class="hero-inner">
    <div class="hero-breadcrumb">
      <a href="">Home</a>
      <span>/</span>
      <span>Article</span>
    </div>
    @for (tag of article().tagList; track $index) {
      <div class="hero-tags">
        <span class="hero-tag-chip">{{ tag }}</span>
      </div>
    }

    <h1>{{ this.article().title }}</h1>
    <p class="article-description">{{ this.article().description }}</p>

    <div class="hero-author-row">
      <div class="hero-author">
        <a class="author-avatar" href="">
          <span>
            {{ article().author.username.charAt(0) | uppercase
            }}{{ article().author.username.charAt(1) | uppercase }}</span
          >
        </a>
        <div class="author-info">
          <a class="author-name" href="">{{
            this.article().author.username
          }}</a>
          <div class="author-meta">
            {{ article().createdAt | date: "mediumDate" }} ·
            {{ readingTime() }} min read
          </div>
        </div>
      </div>

      <div class="hero-actions">
        @if (article().author.username === store.currentUser()?.username) {
          <a href="" class="btn-action btn-action-edit">
            <span class="material-symbols-outlined icon"> edit </span>Edit
            Article
          </a>
          <button
            class="btn-action btn-action-delete"
            onclick="deleteArticle()"
          >
            <span class="material-symbols-outlined icon"> close </span> Delete
          </button>
        } @else {
          <button
            class="btn-action"
            [class.active]="isFollowing()"
            onclick="toggleFollow()"
          >
            @if (isFollowing()) {
              <span class="material-symbols-outlined filled icon"> check </span>
              Following {{ article().author.username }}
            } @else {
              <span class="material-symbols-outlined icon"> add </span> Follow
              {{ article().author.username }}
            }
          </button>
          <button
            class="btn-action"
            [class.active]="isFavorited()"
            (click)="toggleLike(article().slug)"
          >
            <span class="material-symbols-outlined filled icon"> favorite </span
            >{{ isFavorited() ? "Unfavorite" : "Favorite" }} ({{
              favoritesCount()
            }})
          </button>
        }
      </div>
    </div>
  </div>
</div>
