@if (articles().length > 0) {
  <div class="pagination">
    <button
      class="page-btn"
      [class.disabled]="currentPage() === 1"
      (click)="goToPage(currentPage() - 1)"
    >
      &laquo;
    </button>
    @for (page of getVisiblePages(currentPage(), totalPages()); track $index) {
      @if (page === "...") {
        <button class="page-btn">...</button>
      } @else {
        <button
          class="page-btn"
          [class.active]="currentPage() === page"
          (click)="goToPage(page)"
        >
          {{ page }}
        </button>
      }
    }
    <button
      type="button"
      class="page-btn"
      [class.disabled]="currentPage() === totalPages()"
      (click)="goToPage(currentPage() + 1)"
    >
      &raquo;
    </button>
  </div>
}
