@if (article(); as pick) {
  <div class="hero-featured-card">
    <div class="card-tag">Editor's Pick</div>
    <div class="card-title">{{ pick.title }}</div>
    <div class="card-excerpt">{{ pick.description }}</div>
    <div class="card-meta">
      <div class="avatar">
        {{ pick.author.username.charAt(0) | uppercase
        }}{{ pick.author.username.charAt(1) | uppercase }}
      </div>
      <div class="meta-info">
        <strong>{{ pick.author.username }}</strong>
        {{ readingTime() }} min read · {{ pick.createdAt | date: "MMM d" }}
      </div>
      <button class="heart-btn">
        <span class="material-symbols-outlined filled"> favorite </span>
        {{ pick.favoritesCount }}
      </button>
    </div>
  </div>
}
