<main>
  <div class="feed-header">
    @if (store.isAuthenticated()) {
      <button
        class="feed-tab"
        [ngClass]="{ active: this.articleService.type() !== 'global' }"
        (click)="getPersonalFeedArticles()"
      >
        Your Feed
      </button>
    }
    <button
      class="feed-tab"
      [ngClass]="{ active: this.articleService.type() === 'global' }"
      (click)="getGlobalArticles()"
    >
      Global Feed
    </button>
  </div>

  <div class="article-list" id="articleList">
    @for (article of articles(); track article) {
      <app-article [article]="article"></app-article>
    }
  </div>

  <!-- <app-pagination></app-pagination> -->
</main>
