<main id="global-feed">
  <div class="feed-header">
    <button
      class="feed-tab"
      [ngClass]="{ active: this.articleService.type() === 'global' }"
      (click)="getGlobalArticles()"
    >
      Global Feed
    </button>
    @if (store.isAuthenticated()) {
      <button
        class="feed-tab"
        [ngClass]="{ active: this.articleService.type() !== 'global' }"
        (click)="getPersonalFeedArticles()"
      >
        My Feed
      </button>
    }
  </div>

  <div class="article-list" id="articleList">
    @for (article of articles(); track article.slug) {
      <app-article [article]="article"></app-article>
    }
  </div>

  <app-pagination
    [articles]="articles()"
    [isLoading]="isLoading()"
    [articlesCount]="articlesCount()"
  ></app-pagination>
</main>
